@import url("https://fonts.googleapis.com/css2?family=Red+Rose:wght@400;700&display=swap");

:root {
  --text-black: #434343;
  --primary-color: #a02279;
  --search-placeholder: #b8b8b8;
  --search-outline: #a3a3a3;
  --text-dark: #000000;
  --footer-header: #ffffff;
  --footer-link: #f1f3f9;
  --footer-copyright: #f7f7f7;
  --modal-text: #333333;
  --transition: all 0.3s ease-in-out ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Rose", cursive;
}
